/* RESET CSS BROWSERS FORMAT */
* { margin:0; padding:0; text-decoration: none; box-sizing:border-box;
  list-style: none;
}

body {
  
  height: auto;
}

header, form, fieldset, aside, footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

#mainConteiner {
  background-image: url("../../img/noTelefone.jpg");
  background-size: cover;
  background-clip: border-box;
  color: white;
  font-family: sans-serif;
  margin: 0 auto;
  background-color: rgba(128, 0, 196, 0.8);
  min-width: 360px;
  width: 90%;
  height: auto;
}

form, fieldset, aside {
  border-radius: 1.2rem;
}

header, footer{
  background-color: rgba(64, 0, 196, 0.8);
  width: 100%;
  height: 12vh;
  align-items: center;
}

form {
  margin: 1vh auto;
  padding: 40px 5px;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: space-between;
  min-width: 360px;

}

fieldset{
  border-radius: 0.4rem;
  padding: 40px auto;
  border:none;
  text-align: center;
  margin: 2vh auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;    
}

fieldset legend {
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px #000;
  line-height: 50px;
}

input,  select{
  border-radius: 0.4rem;
  height: 50px;
  min-width: 220px;
  width: 90%;
  margin: 10px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px; 
}

#titulo{
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 4px #000;
}

.subject, .remetente {
  border: 1px solid #fff;
  max-width: 500px;
}

#message{ width: 96%; height: 25vh; margin: 25px auto;
  border-radius: 0.8rem; font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
}

.botoes {
  background-color: rgba(255, 255, 255, 0.4);
  justify-content: space-around;
  width: 100%;
   
}

.botoes button {
  line-height: 60px;
  width: 230px;
  border-radius: 0.8rem;
  margin: 40px auto 10px;
  font-size: 1rem;
  font-weight: bold;
}

.botoes button:hover {
  color: #000;
  opacity: 0.6;
}

#btn-submit{
  background-color: rgb(139, 231, 19);
}

footer{
  margin-bottom: 0;
}
